In [1]:
import pandas as pd

In [2]:
files = [r'C:\Users\afs95\MyPython\Baseball\data\2019\2019Standard.csv',
                r'C:\Users\afs95\MyPython\Baseball\data\2019\2019Advanced.csv']

In [10]:
std = pd.read_csv(files[0], chunksize=250)
adv = pd.read_csv(files[1], chunksize=250)

In [6]:
std1 = next(std)

In [7]:
std1.head()

,Name,Team,G,AB,PA,H,1B,2B,3B,HR,...,IBB,SO,HBP,SF,SH,GDP,SB,CS,AVG,playerid
0,Francisco Liriano,Pirates,69,1,2,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1.0,3201
1,Will Smith,Giants,63,1,2,1,1,0,0,0,...,0,0,0,0,1,0,0,0,1.0,8048
2,Oliver Drake,Rays,50,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1.0,8823
3,Ruben Alaniz,- - -,12,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1.0,10819
4,Seth Lugo,Mets,61,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1.0,12447

In [8]:
adv1 = next(adv)
adv1.head()

,Name,Team,PA,BB%,K%,BB/K,AVG,OBP,SLG,OPS,...,Spd,BABIP,UBR,wGDP,wSB,wRC,wRAA,wOBA,wRC+,playerid
0,Will Smith,Giants,2,0.0 %,0.0 %,0.0,1.0,1.0,1.0,2.0,...,0.1,1.0,NaN,NaN,0.0,1,1.0,0.87,459,8048
1,Oliver Drake,Rays,1,0.0 %,0.0 %,0.0,1.0,1.0,1.0,2.0,...,0.1,1.0,NaN,NaN,0.0,1,0.5,0.87,473,8823
2,Ruben Alaniz,- - -,1,0.0 %,0.0 %,0.0,1.0,1.0,1.0,2.0,...,0.1,1.0,NaN,NaN,0.0,1,0.5,0.87,453,10819
3,Seth Lugo,Mets,1,0.0 %,0.0 %,0.0,1.0,1.0,1.0,2.0,...,0.1,1.0,NaN,NaN,0.0,1,0.5,0.87,461,12447
4,John Brebbia,Cardinals,1,0.0 %,0.0 %,0.0,1.0,1.0,1.0,2.0,...,2.6,1.0,NaN,NaN,0.0,1,0.5,0.87,459,12777

In [10]:
merge1 = pd.merge(std1, adv1, on=['playerid', 'Name'])

In [13]:
merge1.shape

(184, 42)

In [14]:
std1.shape

(250, 23)

In [16]:
std1[(~std1['playerid'].isin(merge1['playerid'])) & (~std1['Name'].isin(merge1['Name']))]

,Name,Team,G,AB,PA,H,1B,2B,3B,HR,...,IBB,SO,HBP,SF,SH,GDP,SB,CS,AVG,playerid
25,Wilmer Font,- - -,48,3,4,1,1,0,0,0,...,0,2,0,0,1,0,0,0,0.333,5257
26,Junior Guerra,Brewers,72,3,3,1,1,0,0,0,...,0,2,0,0,0,0,0,0,0.333,5702
27,Trevor Cahill,Angels,38,3,3,1,1,0,0,0,...,0,1,0,0,0,0,0,0,0.333,6249
28,Drew Gagnon,Mets,18,3,4,1,1,0,0,0,...,0,0,0,0,1,1,0,0,0.333,12545
30,Kyle McGowin,Nationals,7,3,3,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0.333,15071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,Jacob Stallings,Pirates,71,191,210,50,39,5,0,6,...,5,40,2,0,1,3,0,0,0.262,13723
242,Phil Gosselin,Phillies,44,65,68,17,14,3,0,0,...,0,16,0,0,0,1,0,0,0.262,10953
245,Neil Walker,Marlins,115,337,381,88,60,19,1,8,...,1,77,1,1,0,8,3,0,0.261,7539
248,Anthony Santander,Orioles,93,380,405,99,58,20,1,20,...,0,86,2,3,1,1,1,2,0.261,14551
249,Freddy Galvis,- - -,147,557,589,145,93,28,1,23,...,1,145,1,2,1,14,4,2,0.260,6609

In [17]:
std1[~std1.isin(merge1)].dropna()

,Name,Team,G,AB,PA,H,1B,2B,3B,HR,...,IBB,SO,HBP,SF,SH,GDP,SB,CS,AVG,playerid
31,Steven Brault,Pirates,34.0,42.0,50,14.0,12.0,1.0,0.0,1.0,...,0.0,8.0,0.0,0.0,7.0,1.0,0.0,0.0,0.333,15291.0
32,Alex McRae,Pirates,11.0,6.0,7,2.0,2.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0,0.333,16317.0
48,Yoan Moncada,White Sox,132.0,511.0,559,161.0,97.0,34.0,5.0,25.0,...,2.0,154.0,4.0,3.0,1.0,1.0,10.0,3.0,0.315,17232.0
49,David Freese,Dodgers,79.0,162.0,186,51.0,27.0,13.0,0.0,11.0,...,0.0,44.0,1.0,0.0,0.0,7.0,0.0,0.0,0.315,9549.0
53,Bryan Reynolds,Pirates,134.0,491.0,546,154.0,97.0,37.0,4.0,16.0,...,0.0,121.0,6.0,3.0,0.0,9.0,3.0,2.0,0.314,19326.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Neil Walker,Marlins,115.0,337.0,381,88.0,60.0,19.0,1.0,8.0,...,1.0,77.0,1.0,1.0,0.0,8.0,3.0,0.0,0.261,7539.0
246,Ji-Man Choi,Rays,127.0,410.0,487,107.0,66.0,20.0,2.0,19.0,...,2.0,108.0,6.0,7.0,0.0,7.0,2.0,3.0,0.261,5452.0
247,Joey Votto,Reds,142.0,525.0,608,137.0,89.0,32.0,1.0,15.0,...,2.0,123.0,4.0,3.0,0.0,14.0,5.0,0.0,0.261,4314.0
248,Anthony Santander,Orioles,93.0,380.0,405,99.0,58.0,20.0,1.0,20.0,...,0.0,86.0,2.0,3.0,1.0,1.0,1.0,2.0,0.261,14551.0
249,Freddy Galvis,- - -,147.0,557.0,589,145.0,93.0,28.0,1.0,23.0,...,1.0,145.0,1.0,2.0,1.0,14.0,4.0,2.0,0.260,6609.0

In [20]:
std12 = std1.set_index(['playerid', 'Name'])
print(std12.shape)
print(std12.head())

(250, 21)
                               Team   G  AB  PA  H  1B  2B  3B  HR  R  ...  \
playerid Name                                                          ...
3201     Francisco Liriano  Pirates  69   1   2  1   1   0   0   0  0  ...
8048     Will Smith          Giants  63   1   2  1   1   0   0   0  0  ...
8823     Oliver Drake          Rays  50   1   1  1   1   0   0   0  0  ...
10819    Ruben Alaniz         - - -  12   1   1  1   1   0   0   0  0  ...
12447    Seth Lugo             Mets  61   1   1  1   1   0   0   0  0  ...

                            BB  IBB  SO  HBP  SF  SH  GDP  SB  CS  AVG
playerid Name
3201     Francisco Liriano   1    0   0    0   0   0    0   0   0  1.0
8048     Will Smith          0    0   0    0   0   1    0   0   0  1.0
8823     Oliver Drake        0    0   0    0   0   0    0   0   0  1.0
10819    Ruben Alaniz        0    0   0    0   0   0    0   0   0  1.0
12447    Seth Lugo           0    0   0    0   0   0    0   0   0  1.0

[5 rows x 21 columns]

In [21]:
adv12 = adv1.set_index(['playerid', 'Name'])
print(adv12.shape)
print(std12.head())

(250, 19)
                               Team   G  AB  PA  H  1B  2B  3B  HR  R  ...  \
playerid Name                                                          ...
3201     Francisco Liriano  Pirates  69   1   2  1   1   0   0   0  0  ...
8048     Will Smith          Giants  63   1   2  1   1   0   0   0  0  ...
8823     Oliver Drake          Rays  50   1   1  1   1   0   0   0  0  ...
10819    Ruben Alaniz         - - -  12   1   1  1   1   0   0   0  0  ...
12447    Seth Lugo             Mets  61   1   1  1   1   0   0   0  0  ...

                            BB  IBB  SO  HBP  SF  SH  GDP  SB  CS  AVG
playerid Name
3201     Francisco Liriano   1    0   0    0   0   0    0   0   0  1.0
8048     Will Smith          0    0   0    0   0   1    0   0   0  1.0
8823     Oliver Drake        0    0   0    0   0   0    0   0   0  1.0
10819    Ruben Alaniz        0    0   0    0   0   0    0   0   0  1.0
12447    Seth Lugo           0    0   0    0   0   0    0   0   0  1.0

[5 rows x 21 columns]

In [22]:
merge12 = pd.merge(std12, adv12, left_index=True, right_index=True)

In [23]:
merge12.head()

,,Team_x,G,AB,PA_x,H,1B,2B,3B,HR,R,...,ISO,Spd,BABIP,UBR,wGDP,wSB,wRC,wRAA,wOBA,wRC+
playerid,Name,,,,,,,,,,,,,,,,,,,,,
9256,A.J. Pollock,Dodgers,86,308,342,82,51,15,1,15,49,...,0.201,4.9,0.300,1.1,0.4,0.4,47,3.8,0.333,108
13338,Omar Narvaez,Mariners,132,428,482,119,85,12,0,22,63,...,0.182,1.3,0.306,-2.1,0.9,-0.3,71,10.3,0.345,119
12861,Anthony Rendon,Nationals,146,545,646,174,93,44,3,34,117,...,0.279,4.4,0.323,0.9,-0.7,0.2,133,51.8,0.413,154
5409,Pablo Sandoval,Giants,108,272,296,73,36,23,0,14,42,...,0.239,2.9,0.304,-0.5,-0.2,0.1,41,4.2,0.336,110
8048,Will Smith,Giants,63,1,2,1,1,0,0,0,0,...,0.000,0.1,1.000,NaN,NaN,0.0,1,1.0,0.870,459

In [26]:
merge12.reset_index().shape

(184, 42)

In [27]:
merge1.shape

(184, 42)

In [29]:
std12[~std12.isin(merge12)].dropna()

,,Team,G,AB,PA,H,1B,2B,3B,HR,R,...,BB,IBB,SO,HBP,SF,SH,GDP,SB,CS,AVG
playerid,Name,,,,,,,,,,,,,,,,,,,,,
5257,Wilmer Font,- - -,48.0,3.0,4,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.333
5702,Junior Guerra,Brewers,72.0,3.0,3,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.333
6249,Trevor Cahill,Angels,38.0,3.0,3,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.333
12545,Drew Gagnon,Mets,18.0,3.0,4,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.333
15071,Kyle McGowin,Nationals,7.0,3.0,3,1.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13723,Jacob Stallings,Pirates,71.0,191.0,210,50.0,39.0,5.0,0.0,6.0,26.0,...,16.0,5.0,40.0,2.0,0.0,1.0,3.0,0.0,0.0,0.262
10953,Phil Gosselin,Phillies,44.0,65.0,68,17.0,14.0,3.0,0.0,0.0,5.0,...,3.0,0.0,16.0,0.0,0.0,0.0,1.0,0.0,0.0,0.262
7539,Neil Walker,Marlins,115.0,337.0,381,88.0,60.0,19.0,1.0,8.0,37.0,...,42.0,1.0,77.0,1.0,1.0,0.0,8.0,3.0,0.0,0.261
14551,Anthony Santander,Orioles,93.0,380.0,405,99.0,58.0,20.0,1.0,20.0,46.0,...,19.0,0.0,86.0,2.0,3.0,1.0,1.0,1.0,2.0,0.261
6609,Freddy Galvis,- - -,147.0,557.0,589,145.0,93.0,28.0,1.0,23.0,67.0,...,28.0,1.0,145.0,1.0,2.0,1.0,14.0,4.0,2.0,0.260

In [34]:
std12[list(('AB', 'G'))]

                             AB    G
playerid Name
3201     Francisco Liriano    1   69
8048     Will Smith           1   63
8823     Oliver Drake         1   50
10819    Ruben Alaniz         1   12
12447    Seth Lugo            1   61
...                         ...  ...
7539     Neil Walker        337  115
5452     Ji-Man Choi        410  127
4314     Joey Votto         525  142
14551    Anthony Santander  380   93
6609     Freddy Galvis      557  147

[250 rows x 2 columns]

In [33]:
list(('AB', 'G'))

['AB', 'G']

In [36]:
from itertools import chain

In [39]:
chains = chain([std, adv])

In [40]:
for chunk in chains:
    print(chunk.head(1))

AttributeError: 'TextFileReader' object has no attribute 'head'

In [4]:
standard = pd.read_csv(files[0])
advanced = pd.read_csv(files[1])
print(standard.shape)
print(advanced.shape)
full_merge = pd.merge(standard, advanced, on=['playerid', 'Name'], how='inner')
print(full_merge.shape)

(1410, 23)
(1410, 21)
(1410, 42)

In [11]:
second_merge = pd.DataFrame()

for chunk in adv:
    second_merge = pd.concat([second_merge, pd.merge(standard, chunk, on=['playerid', 'Name'], how='right')])

In [12]:
second_merge.shape

(1410, 42)

In [16]:
pd.concat([full_merge.isnull().sum(), second_merge.isnull().sum()], axis=1)

            0    1
Name        0    0
Team_x      0    0
G           0    0
AB          0    0
PA_x        0    0
H           0    0
1B          0    0
2B          0    0
3B          0    0
HR          0    0
R           0    0
RBI         0    0
BB          0    0
IBB         0    0
SO          0    0
HBP         0    0
SF          0    0
SH          0    0
GDP         0    0
SB          0    0
CS          0    0
AVG_x       0    0
playerid    0    0
Team_y      0    0
PA_y        0    0
BB%         0    0
K%          0    0
BB/K        0    0
AVG_y       0    0
OBP         0    0
SLG         0    0
OPS         0    0
ISO         0    0
Spd         0    0
BABIP       0    0
UBR       775  775
wGDP      775  775
wSB         0    0
wRC         0    0
wRAA        0    0
wOBA        0    0
wRC+      420  420

In [28]:
full_merge.tail()

,Name,Team_x,G,AB,PA_x,H,1B,2B,3B,HR,...,ISO,Spd,BABIP,UBR,wGDP,wSB,wRC,wRAA,wOBA,wRC+
1405,Huascar Ynoa,Braves,2,0,0,0,0,0,0,0,...,0.0,0.1,0.0,NaN,NaN,0.0,0,0.0,0.0,NaN
1406,Elvis Luciano,Blue Jays,25,1,1,0,0,0,0,0,...,0.0,0.1,0.0,NaN,NaN,0.0,0,-0.3,0.0,-100.0
1407,Yusei Kikuchi,Mariners,32,1,2,0,0,0,0,0,...,0.0,0.1,0.0,NaN,NaN,0.0,0,-0.6,0.0,-100.0
1408,Emmanuel Clase,Rangers,21,0,0,0,0,0,0,0,...,0.0,0.1,0.0,NaN,NaN,0.0,0,0.0,0.0,NaN
1409,Randy Dobnak,Twins,9,0,0,0,0,0,0,0,...,0.0,0.1,0.0,NaN,NaN,0.0,0,0.0,0.0,NaN

In [31]:
second_merge.tail()

,Name,Team_x,G,AB,PA_x,H,1B,2B,3B,HR,...,ISO,Spd,BABIP,UBR,wGDP,wSB,wRC,wRAA,wOBA,wRC+
1405,Huascar Ynoa,Braves,2,0,0,0,0,0,0,0,...,0.0,0.1,0.0,NaN,NaN,0.0,0,0.0,0.0,NaN
1406,Elvis Luciano,Blue Jays,25,1,1,0,0,0,0,0,...,0.0,0.1,0.0,NaN,NaN,0.0,0,-0.3,0.0,-100.0
1407,Yusei Kikuchi,Mariners,32,1,2,0,0,0,0,0,...,0.0,0.1,0.0,NaN,NaN,0.0,0,-0.6,0.0,-100.0
1408,Emmanuel Clase,Rangers,21,0,0,0,0,0,0,0,...,0.0,0.1,0.0,NaN,NaN,0.0,0,0.0,0.0,NaN
1409,Randy Dobnak,Twins,9,0,0,0,0,0,0,0,...,0.0,0.1,0.0,NaN,NaN,0.0,0,0.0,0.0,NaN

In [30]:
import numpy as np
second_merge.index = np.arange(0, second_merge.shape[0])

In [35]:
(full_merge == second_merge).sum()

Name         115
Team_x       169
G            129
AB           370
PA_x         356
H            673
1B           685
2B           754
3B          1000
HR           798
R            687
RBI          702
BB           663
IBB         1022
SO           423
HBP          859
SF           917
SH           923
GDP          769
SB           900
CS           974
AVG_x        688
playerid     115
Team_y       169
PA_y         356
BB%          647
K%           410
BB/K         655
AVG_y        688
OBP          634
SLG          658
OPS          623
ISO          702
Spd          676
BABIP        662
UBR           29
wGDP          26
wSB          818
wRC          607
wRAA         362
wOBA         630
wRC+         113
dtype: int64

In [36]:
second_merge.to_feather('second_merge.ftr')

In [41]:
ftr_snd_merger = pd.read_feather('second_merg.ftr')

In [43]:
ftr_snd_merger

,Name,Team_x,G,AB,PA_x,H,1B,2B,3B,HR,...,ISO,Spd,BABIP,UBR,wGDP,wSB,wRC,wRAA,wOBA,wRC+
0,Francisco Liriano,Pirates,69,1,2,1,1,0,0,0,...,0.0,0.1,1.0,NaN,NaN,0.0,1,0.8,0.78,398.0
1,Will Smith,Giants,63,1,2,1,1,0,0,0,...,0.0,0.1,1.0,NaN,NaN,0.0,1,1.0,0.87,459.0
2,Oliver Drake,Rays,50,1,1,1,1,0,0,0,...,0.0,0.1,1.0,NaN,NaN,0.0,1,0.5,0.87,473.0
3,Ruben Alaniz,- - -,12,1,1,1,1,0,0,0,...,0.0,0.1,1.0,NaN,NaN,0.0,1,0.5,0.87,453.0
4,Seth Lugo,Mets,61,1,1,1,1,0,0,0,...,0.0,0.1,1.0,NaN,NaN,0.0,1,0.5,0.87,461.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1405,Huascar Ynoa,Braves,2,0,0,0,0,0,0,0,...,0.0,0.1,0.0,NaN,NaN,0.0,0,0.0,0.00,NaN
1406,Elvis Luciano,Blue Jays,25,1,1,0,0,0,0,0,...,0.0,0.1,0.0,NaN,NaN,0.0,0,-0.3,0.00,-100.0
1407,Yusei Kikuchi,Mariners,32,1,2,0,0,0,0,0,...,0.0,0.1,0.0,NaN,NaN,0.0,0,-0.6,0.00,-100.0
1408,Emmanuel Clase,Rangers,21,0,0,0,0,0,0,0,...,0.0,0.1,0.0,NaN,NaN,0.0,0,0.0,0.00,NaN
1409,Randy Dobnak,Twins,9,0,0,0,0,0,0,0,...,0.0,0.1,0.0,NaN,NaN,0.0,0,0.0,0.00,NaN